<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bracket Count Difference</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2 class="title">Enter your string</h2>
    <!-- Form to submit the data to Flask -->
    <form action="/calculate" method="post">
        <textarea name="inputString" class="input-area" rows="6" cols="50" placeholder="Paste your string here..."></textarea>
        <br>
        <button type="submit" name="action" value="2015_P1" class="submit-button">2015_P1</button>
        <button type="submit" name="action" value="2015_P2.1" class="submit-button">2015_P2.1</button>
        <button type="submit" name="action" value="2015_P2.2" class="submit-button">2015_p2.2</button>
        <button type="submit" name="action" value="2015_P3.1" class="submit-button">2015_P3.1</button>
        <button type="submit" name="action" value="2015_P3.2" class="submit-button">2015_P3.2</button>
    </form>
    <h2 class="title">Result</h2>
    <p id="outputResult" class="result-text">{{result}}</p>
</body>
</html>
