<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bushell53_FlaskApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome</h1>
    <textarea id="inputString" rows="5" cols="50" placeholder="Enter your input here (From Advent of Code(2015_))"></textarea>
    
    <!-- Placeholder for results -->
    <div id="result-container" style="display: none;">
        <h2>Result:</h2>
        <p id="result-text"></p>
    </div>

    <div class="button-grid">
        <button class="home-action" data-action="P1.1">P1.1</button>
        <button class="home-action" data-action="P1.2">P1.2</button>
        <button class="home-action" data-action="P2.1">P2.1</button>
        <button class="home-action" data-action="P2.2">P2.2</button>
        <button class="home-action" data-action="P3.1">P3.1</button>
        <button class="home-action" data-action="P3.2">P3.2</button>
        <button class="home-action" data-action="P4.1">P4.1</button>
        <button class="home-action" data-action="P4.2">P4.2</button>
        <button class="home-action" data-action="P5.1">P5.1</button>
        <button class="home-action" data-action="P5.2">P5.2</button>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
